* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.container #card-box .card.h-100 img {
  height: 100px;
}

/* body {
  height: 100vh;
  background: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
} */

/*슬라이드 공간 총 크기*/
.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper {
  height: 100vh;
}

/* 포스터 이미지  */
.swiper-slide img {
  /* display: block; */
  height: 500px;
  margin: 4% 0%;
}

/*일반 페이지바*/
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid;
  opacity: 1;
}

/*아래 페이지바 활성시*/
.swiper-pagination-bullet-active {
  width: 30px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #000000;
  /* 협업 컬러 블랙 #000000 사용 */
  border: 1px solid transparent;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffd54f;
  /* 협업 컬러 노랑사용 #FFD54F */
}

.slidearea {
  background-color: #e1e3e6;

  align-items: center;
  max-width: 100%;
}
