<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./public/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="./js/detail.js"></script> -->
  <script>
    $(document).ready(function() {
      listing();
    });

    function show_content() {
      $.ajax({
        type: "GET",
        url: "https://apis.data.go.kr/B551011/KorService/searchFestival?serviceKey=3WzdkvGaFztwuuD7uF0oPJSKUGEAJWkLJ9PJTYi2ChGhlwpqlsLOuur%2BTg2dkymt6IRTj3QgSlIBa5wDGLNQPg%3D%3D&numOfRows=978&pageNo=1&MobileOS=ETC&MobileApp=AppTest&_type=json&listYN=Y&arrange=C&eventStartDate=20220701",
        data: {},
        success: function(res) {
          const data = res.response.body.items;
          console.log(data);
          // console.log(res.response.body.items.item[0]);
        },
      });
    }

    function save_data() {
      let data = [];
      $.ajax({
        type: "GET",
        url: "https://apis.data.go.kr/B551011/KorService/searchFestival?serviceKey=3WzdkvGaFztwuuD7uF0oPJSKUGEAJWkLJ9PJTYi2ChGhlwpqlsLOuur%2BTg2dkymt6IRTj3QgSlIBa5wDGLNQPg%3D%3D&numOfRows=978&pageNo=1&MobileOS=ETC&MobileApp=AppTest&_type=json&listYN=Y&arrange=C&eventStartDate=20220701",
        data: {},
        success: function(res) {
          data = res.response.body.items;
          // console.log(data);
          // console.log(res.response.body.items.item[0]);
        },
      });

      $.ajax({
        type: "POST",
        url: "/savedata",
        data: {
          data: data
        },
        success: function(res) {
          alert(res["msg"]);
        },
      });
    }
  </script>
  <title>상세페이지</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand mx-3" href="#">GoFestival</a>
      <div class="mx-5">login</div>
    </div>
    <!-- <button onclick="show_content()">click</button> -->
    <!-- <button onclick="save_data()">click</button> -->
  </nav>
  <div class="container">
    <div class="section">
      <div class="poster">
        <img src="" alt="">
      </div>
      <div class="info">
        <ul>
          <li>title</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
    <div class="map">map</div>
  </div>

</body>

</html>