<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/list.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <title>GOPestival</title>
  </head>
  <body>
    <!-- <button onclick="save_data()">저장</button> -->
    <button onclick="show_content()">Click!</button>
    <div id="festival"></div>
    <script>
      function show_content() {
        $.ajax({
          type: "GET",
          url: "/showdata",
          data: {},
          // 데이터가 넘어올때 str 타입으로 넘어옴
          success: function (res) {
            const data = res["festivals"];
            // dictionary 형식으로 변경
            let alldata = JSON.parse(data);
            // 랜덤 배열 10개 생성
            let newData = [];
            while (alldata.length > 876) {
              let moveData = alldata.splice(
                Math.floor(Math.random() * alldata.length),
                1
              )[0];
              newData.push(moveData);
            }
            for (let i in newData) {
              $("div").append(
                "<span>" +
                  "<img class='fes__image' src=" +
                  newData[i].firstimage +
                  ">" +
                  "<span class='fes__title'>" +
                  newData[i].title +
                  "</span>" +
                  "</span><br>"
              );
            }
          },
        });
      }

      //  db 저장
      function save_data() {
        let data = [];
        $.ajax({
          type: "GET",
          url: "https://apis.data.go.kr/B551011/KorService/searchFestival?serviceKey=3WzdkvGaFztwuuD7uF0oPJSKUGEAJWkLJ9PJTYi2ChGhlwpqlsLOuur%2BTg2dkymt6IRTj3QgSlIBa5wDGLNQPg%3D%3D&numOfRows=978&pageNo=1&MobileOS=ETC&MobileApp=AppTest&_type=json&listYN=Y&arrange=C&eventStartDate=20220701",
          data: {},
          success: function (res) {
            data = res.response.body.items.item;
          },
        });

        setTimeout(() => {
          $.ajax({
            type: "POST",
            dataType: "json",
            data: {
              data: JSON.stringify(data),
            },
            url: "/savedata",
            success: function (res) {
              console.log(data);
              alert(res["msg"]);
            },
          });
        }, 1000);
      }
    </script>
  </body>
</html>
