<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/modify.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title>수정하기</title>


    <script>
        $(document).ready(function () {
            show_bucket();
        });

        // function showmodfiy_bucket() {
        //
        //     $.ajax({
        //         type: "GET",
        //         url: "/bucket",
        //         data: {},
        //         success: function (response) {
        //             let rows = response['buckets']
        //             for (let i = 0; i < rows.length; i++) {
        //                 let bucket = rows[i]['bucket']
        //                 let num = rows[i]['num']
        //                 let temp_html = ``
        //                 if (done == 0) {
        //                     temp_html = `<div class="mybucket">
        //                                     <input id="modifybucket" class="form-control" type="text" placeholder="${bucket}">
        //                                     <button onclick="modify_bucket(${num})" type="button" class="btn btn-outline-primary">수정완료.</buton>
        //                                 </div>`
        //                     $('#mybox').append(temp_html)
        //                 }
        //             }
        //         });
        // }


        //수정 완료 버튼 기능
        //여기서 필요한것 다시 index페이지로 이동
        //데이터를 다시 수정하기.



        function modify_bucket(num) {
            let modifybucketdata = $("#modifybucket").val()
            $.ajax({
                type: "POST",
                url: "/bucket/modify",
                data: { 'modify_give': modifybucketdata, 'bucketnum_give': num },
                success: function (response) {
                    alert(response["msg"])

                    // //    다시 홈페이지로 이동

                }
            });
        }


    </script>
</head>

<body>
    <div class="mypic">
        <h1>나의 버킷리스트</h1>
    </div>
    <div class="mybox" id="mybox">
        <div class="mybucket">
            <input id="modifybucket" class="form-control" type="text" placeholder="여기 수정사항 나중에 넣어야함.">
            <button onclick="modify_bucket(1)" type="button" class="btn btn-outline-primary">수정완료.</buton>


        </div>
    </div>

</body>

</html>